<!-- views/volleyball/pages/index.erb -->

<%= erb :'../partials/header' %>

<body class="<%= @result.downcase %>">
  <h1> <%= @result %> </h1>                          <!-- This is the result of the coin flip -->
</body>

<!-- Include any other content or partials below -->
