---
layout: default
---

<!-- views/volleyball/pages/index.erb -->

<=% include_relative '../../../_layouts/header.erb' %=>

<body class="<=% @result.downcase %=>">
  <h1> <=% @result %=> </h1>
</body>
